.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/*custom styles*/

.sign-in {
    padding: 150px 250px 0 150px;
    /*background-image:url('/images/Dnepr.jpg');
    height:750px*/
}

.sign-up {
    padding: 150px 250px 0 150px;
}
.create-incident {
    padding: 150px 250px 0 150px;
}

@media screen and (max-width: 768px) /* Mobile */ {
    .sign-in {
        padding: 50px 0 0 0;
    }

    .sign-up {
        padding: 50px 0 0 0;
    }

    .create-incident {
        padding: 15px 0 0 0;
    }
}

.elem {
   
    font-size: 20px;
    border: 4px double black; /* Параметры границы */
    width: 100px;
    padding: 10px;
}
.not-focus {
    color: darkred;
}

.focus {
    color: darkgoldenrod;
}

.block {
    height: 350px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.cursor {
    cursor: pointer;
}

.file-name {
    color:darkred;
    margin-left:50px;
}

.hide {
    display: none;
}
.attach:hover {
    color:grey;
}

.desc-focus {
    background-color:lightblue;
}
.hello {
    font-size:10px;
}
.danger {
    color: darkred;
    font-size: 20px;
    font-weight: 600;
}

.modal-description {
    
    font-size: 16px;
}

